.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.left-header{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 150px;
}
.logo-name{
    background-color: white;
    color: #3498db;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    width: 100px;
}
.name{
    width: 200px;
    height: 40px;
    background-color: white;
    color: #3498db;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}
button{
    border: 1px hidden;
    width:75px;
    height: 35px;
    background-color: #3498db;
    color: white;
    border-radius: 8px;
    text-align: center;
    margin: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/* ul {
    list-style: none;
    margin: 0;
    padding: 0;
} */

/* li {
    display: inline;
    margin-left: 20px;
} */

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
/* 
.contact, footer, .b1, .h, .p1, .p2, .b2 {
    width: 100%;
    max-width: 1350px;
    margin: 15px auto;
    box-sizing: border-box;
} */



.b1 {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    background-color: white;
    border: 5px solid #3498db;
    border-radius: 20px;
}

.h {
    height: 100px;
    margin: 15px;
    padding: 25px;
    font-size: xx-large;
    border-radius: 20px;
    background-color: whitesmoke;
    border: 3px solid;
    border-color: white;
    border-radius: 20px;
    min-width: 300px;
    padding: 10px;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.h-heading{
    background-color: whitesmoke;
    color: whitesmoke;
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 2px #3498db, 0 0 25px #3498db, 0 0 5px blue;

}

.p1 {
    margin: 15px;
    padding: 15px;
    height: 450px;
    margin-right: 30px;
    background-color: white;
    border-radius: 50%;
    border: 3px solid;
    border-color: white;
    /* border-radius: 20px; */
    min-width: 300px;
    padding: 10px;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.p2 {
    margin: 15px;
    padding: 15px;
    height: 450px;
    border: 5px dotted #3498db;
    border-radius: 20px;
    border: 3px solid;
    border-color: white;
    border-radius: 20px;
    min-width: 900px;
    padding: 10px;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.b2 {
    height: 350px;
    background-color: #a3d5f6;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 3px solid;
    border-color: white;
    border-radius: 20px;
    min-width: 300px;
    padding: 10px;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.contact{
    height: 200px;
    border: 3px solid;
    border-color: #3498db;
    border-radius: 20px;
    background-color:#3498db;
    color: white;
    min-width: 400px;
    margin: 0px 20px 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.webpage-link{
    border: 2px solid;
    border-color: #3498db;
    background-color:#3498db;
    color: white;
    border-radius: 5px;
    margin: 10px;
    max-height: 190px;
}
li{
    font-size: 20px;
    margin-bottom: 8px;
    text-align: start;
}
.other-link{
    border: 2px solid;
    border-color: #3498db;
    background-color:#3498db;
    color: white;
    border-radius: 5px;
    margin: 10px;
    max-height: 190px;
}
.social-link{
    border: 2px solid;
    border-color: #3498db;
    border-radius: 5px;
    margin: 10px;
    display: grid;
    grid-template-rows: 1fr 2fr;
    justify-content: center;
    max-height: 190px;
}
.email{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: #3498db;
    color: white;
    font-size: large;
}
.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: white;
    width:auto ;
}
.social-logo{
    height: 60px;
    width: 60px;
    border-radius: 15px;
    margin: 20px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height:45px;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 20px;
}
